<a href="https://colab.research.google.com/github/ydam9182/2024Hitech/blob/main/python_diamond.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
msg = ''

# for i in range(5, 0, -1):
#     msg += f' '*i

for i in range(0, 5+1, 1):
    msg += f'{i}'
    msg += f' '*(5+1-i)
    for j in range (0, i*2+1, 1):
      msg += f'*'
    msg += f'\n'

lines = ''
for i in range(0, 5+1, 1):
  lines += f'{i}'
  lines += f' '*(i+2)
  for j in range(5*2-1,2*i,-1):
    lines += f'*'
  lines += f'\n'
print(msg + lines)

0      *
1     ***
2    *****
3   *******
4  *********
5 ***********
0  *********
1   *******
2    *****
3     ***
4      *
5

In [9]:
msg = ''

for i in range(1, 5, 1):
  msg += f'*'*i
  msg += '\n'

*
**
***
****